#header{
	background-color: white;
	box-shadow: 5px 5px 5px #bfbaba;
	border-radius: 0px;
	
}

#brandname{
	color: black;
	font-weight: bold;
}

#nav-list>li{
	margin-left: 10px;
	font-weight: bold;
}

#nav-list{
	margin-top: 10px;
	margin-right: 15px;
}

#main-content{
	margin-right: 150px;
	margin-left: 150px;
}

#bold{
	font-weight: bolder;
	font-family: Lora serif;
	font-size: 2.5vw;
	margin-bottom: 20px;
}

#section1{
  margin-left: 200px;

}

#section1>#blue{
	color:blue;
	margin-bottom: 5px;
	font-size: 1.2vw;
	margin-bottom: 8px;
}

#section2{
	
	background: url("https://shivasankari3101.github.io/Project/images/heroImage.jpg");
	height: 354px;
	border-radius: 25px;
	margin-bottom: 20px;
}

#section3{
	margin-left: 150px;
	margin-bottom: 80px;
	width: 300px;
}



#section3>#about{
	margin-bottom: 20px;
}

#section3>div>input{
	background-color: #e3e1e1;
	border-radius: 5px;
	color: #868687;
	border:2px solid #e3e1e1;
}

#section3>div>span{
	background-color:#5176b8;
	color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
}

#section4{
	margin-left: 120px;
	width: 75%;
}

#section4>#bold{
	font-size: 2.2vw;
}

#box{
	margin-top:20px;
	background-color: #e3e1e1;
	border-radius: 5px;
	color: #868687;
	border:2px solid #e3e1e1;
	text-align: center;
	width: 50%;

}

#three_sections #bold{
	font-size: 1.6vw;
}

#design{
	background-color: #1ba6c2;
}

#front{
	background-color: #55c272;
}

#back{
	background-color: #ff6b7a;
}

#design, #front, #back{
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: white;
}


@media (max-width: 375px){
	#main-content{
	margin-right: 10px;
	margin-left: 10px;
}

#section1{
  margin-left: 40px;

}

#bold{
	font-size: 5.5vw;
}

#section1>#blue{
	color:blue;
	margin-bottom: 5px;
	font-size: 2.5vw;
	margin-bottom: 8px;
}

#section3{
	 margin-left: 30px;
	 width: 300px;
	 margin-bottom:60px;
}

#section3>div>input{
	width: 260px;
}

#section4{
	margin-left: 30px;
}

#section4>#bold{
	font-size: 5vw;
}

#three_sections #bold{
	font-size: 4vw;
}

#three_sections>div{
	margin-bottom: 60px;
}

}

