#header{
	background-color: white;
	box-shadow: 5px 5px 5px #bfbaba;
	border-radius: 0px;
	
}

#brandname{
	color: black;
	font-weight: bold;
}

#nav-list>li>a{
	margin-left: 10px;
	font-weight: bold;
	color: black;
}

#nav-list>li>a:hover{
	background-color: #e3e1e1;
}

#nav-list{
	margin-top: 10px;
	margin-right: 15px;
	
}

#main-content{
	margin-right: 150px;
	margin-left: 150px;
}

#bold{
	font-weight: bolder;
	font-family: Lora serif;
	font-size: 2.5vw;
	margin-bottom: 20px;
}

#section1{
  margin-left: 200px;

}

#section1>#blue{
	color:blue;
	margin-bottom: 5px;
	font-size: 1.2vw;
	margin-bottom: 8px;
}

#section2{
	
	background: url("https://shivasankari3101.github.io/Project/images/heroImage.jpg");
	height: 354px;
	border-radius: 25px;
	margin-bottom: 20px;
}

#section3{
	margin-left: 150px;
	margin-bottom: 80px;
	width: 300px;
}



#section3>#about{
	margin-bottom: 20px;
}

input{
	background-color: #e3e1e1;
	border-radius: 5px;
	color: #868687;
	border:2px solid #e3e1e1;
}

#join{
	background-color:#5176b8;
	color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
}

#section4{
	margin-left: 120px;
	width: 75%;
	margin-bottom: 80px;
}

#section4>#bold{
	font-size: 2.2vw;
}

#box{
	margin-top:20px;
	background-color: #e3e1e1;
	border-radius: 5px;
	color: #868687;
	border:2px solid #e3e1e1;
	text-align: center;
	width: 50%;

}

#three_sections #bold{
	font-size: 1.6vw;
}

#design{
	background-color: #1ba6c2;
}

#front{
	background-color: #55c272;
}

#back{
	background-color: #ff6b7a;
}

#design, #front, #back{
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: white;
}

#section5>div{
	margin-left: 120px;
	font-size: 1.5vw;
}

#fullstack{
	background:url("images/smarthome.jpg");
}
#onboard{
	background:url("images/onboard.png");
}
#mobile{
	background:url("images/booking.png");
}
#juice{
	background:url("images/juice-product.png");
}

#footer{
	background-color: black;
	color: white;
}

#footer_contents{
	margin-left: 120px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#footer_contents>div>div{
	margin-bottom: 5px;
}

#section7{
	margin-left: 120px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom:50px;
	font-size: 1.5vw;
}



@media (max-width: 375px){
	#main-content{
	margin-right: 10px;
	margin-left: 10px;
}

#nav-list>li>a{
	text-align: center;
}

#nav-list>li>a:hover{
	background-color: black;
	color: white;
}

#nav-list{
	margin-top: 30px;
}


#nav-list>a>li{
	 text-align: center;
}

#section1{
  margin-left: 40px;

}

#bold{
	font-size: 5.5vw;
}

#section1>#blue{
	color:blue;
	margin-bottom: 5px;
	font-size: 2.5vw;
	margin-bottom: 8px;
}

#section2{
	
	background: url("/images/heroImage_iphone.jpg");
	background-repeat: no-repeat;
	height: 93px;
	border-radius: 15px;
	margin-bottom: 20px;
}

#section3{
	 margin-left: 30px;
	 width: 300px;
	 margin-bottom:60px;
}

#section3>div>input{
	width: 260px;
}

#section4{
	margin-left: 30px;
	margin-bottom: 10px;
}

#section4>#bold{
	font-size: 5vw;
}

#three_sections #bold{
	font-size: 4vw;
}

#three_sections>div{
	margin-bottom: 60px;
}


#footer_contents{
	margin-left: 5px;
}

#section5>div{
	font-size: 4vw;
	margin-left: 30px;
}

#footer_contents>div{
	margin-bottom: 15px;
}

#section7{
	margin-left: 30px;
	margin-top: 50px;
	font-size: 3.5vw;
	font-weight: bold;
}

}

